@use "../scss/variables.scss";
@use "../scss/colors.scss";
@use "../scss/scrollbar.scss" as scrollbar;

.container {
    height: 100%;

    @include scrollbar.custom-scrollbar(colors.$primary, colors.$secondary, #ffe0e0);

    .cart_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > li {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        & > li:first-child {
            margin-top: 1rem;
        }

        & > li:last-child {
            margin-bottom: 1rem;
        }
    }
}
