@use "../scss/variables.scss";
@use "../scss/colors.scss";
@use "../scss/scrollbar.scss" as scrollbar;

$searchbar-height: 5rem;

.container {
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include scrollbar.custom-scrollbar(colors.$primary, colors.$secondary, #ffe0e0);
}
