$card-size: 70%;

.card {
    width: $card-size;
    height: auto;
    background-color: white;
    display: flex;
    margin-bottom: 1rem;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc($card-size / 3);
        aspect-ratio: 1 / 1;
        object-fit: fill;
        // background-color: lightgreen;
    }

    .information {
        width: $card-size;
        aspect-ratio: 3 / 1;
        color: black;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;

        .title {
            height: 15%;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;

            span {
                font-size: large;
                margin: 0;
            }
        }

        .description {
            height: 65%;
            font-size: 80%;
            overflow: hidden;
            text-overflow: ellipsis; 
        }

        .actions {
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
}
