$card-size: 70%;

.card {
    width: $card-size;
    min-height: 2rem;
    background-color: white;
    display: flex;
    align-items: stretch;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    img {
        width: calc($card-size / 3);
        aspect-ratio: 1 / 1;
        object-fit: cover;
        background-color: lightgray;
    }

    .information {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0.75rem;
        justify-content: space-between;

        .title {
            height: 15%;
            display: flex;
            align-items: center;
            font-size: large;
            font-weight: bold;
            border-bottom: 1px solid black;
        }

        .description {
            flex-grow: 1; // Füllt den Platz zwischen title & actions aus
            font-size: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .actions {
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
