@use "../scss/variables.scss";
@use "../scss/colors.scss";
@use "../scss/scrollbar.scss" as scrollbar;

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightcoral;
    @include scrollbar.custom-scrollbar(colors.$primary, colors.$secondary, #ffe0e0);

    .product_list {
        list-style: none;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: lightcyan;

        & > li {
            width: 300%;
            display: flex;
            justify-content: center;
            background-color: lightblue;
        }

        & > li:first-child {
            margin-top: 1rem;
        }

        & > li:last-child {
            margin-bottom: 1rem;
        }
    }
}
