$card-size: 90%;

.card {
    width: $card-size;
    height: auto;
    background-color: white;
    display: flex;
    margin-bottom: 1rem;

    img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc($card-size / 3);
        aspect-ratio: 1 / 1;
        object-fit: fill;
        // background-color: lightgreen;
    }

    .information {
        width: calc(($card-size / 3) * 3);
        aspect-ratio: 3 / 1;
        color: black;
        // background-color: lightblue;
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        .title {
            height: 20%;
            border-bottom: 1px solid black;
            // background-color: lightpink;
            display: flex;
            align-items: center;

            span {
                font-size: 120%;
                margin: 0;
            }
        }

        .description {
            height: 60%;
            font-size: 80%;
            overflow: hidden;
            text-overflow: ellipsis; 
        }

        .buy {
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // background-color: rgb(202, 33, 33);

            .add {
                border-radius: 8px;
                border: 1px solid transparent;
                font-size: .75rem;
                font-weight: 500;
                font-family: inherit;
                background-color: #1a1a1a;
                cursor: pointer;
                transition: border-color 0.25s;

                &:hover {
                    background-color: rgb(196, 196, 196);
                }
            }
        }
    }
}
