# LaTeX gitignore
*.acn
*.acr
*.alg
*.aux
*.bak
*.bcf
*.bbl
*.blg
*.cb
*.cb2
*.fot
*.flg
*.fls
*.fmt
*.glo
*.glg
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.inx
*.ist
*.loa
*.log
*.lof
*.lol
*.lot
*.maf
*.mtc*
*.out
*.run.xml
*.slg
*.snm
*.sout
*.syg
*.syi
*.synctex\(busy\)
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
