.quantity_container {
  display: flex;
  align-items: center;
  justify-content: center;

  .quantity_button {
    aspect-ratio: 1 / 1;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(196, 196, 196);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    img {
      width: .75rem;
      aspect-ratio: 1 / 1;
    }
  }

  .quantity_display {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0 .5rem;
    text-align: center;
    justify-content: center;
  }
}
