@use "../../scss/variables.scss";
@use "../../scss/colors.scss";

.deleteForm {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.buttonCancel {
    background-color: colors.$secondary;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: colors.$delte-secondary;
    }
}

.buttonDelete {
    background-color: gray;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: colors.$delte-secondary;
    }
}
