@use "../scss/variables.scss";
@use "../scss/colors.scss";
@use "../scss/scrollbar.scss" as scrollbar;


.searchbar {
    position: fixed;
    top: variables.$topbar-height;
    width: calc(100% - variables.$drawer-width);
    height: variables.$searchbar-height;
    background-color: lightblue;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container {
    margin-top: calc(variables.$searchbar-height + 1rem);
    display: flex;
    flex-direction: row;
}
