@use "../scss/variables.scss";
@use "../scss/colors.scss";
@use "../scss/scrollbar.scss" as scrollbar;


.searchbar {
    position: fixed;
    top: variables.$topbar-height;
    width: calc(100% - variables.$drawer-width);
    height: variables.$searchbar-height;
    background-color: lightblue;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container {
    height: calc(100vh - variables.$topbar-height - variables.$searchbar-height);
    margin-top: variables.$searchbar-height;
    background-color: lightcoral;
    overflow-y: auto;
    display: flex;
    gap: 1rem;

    .categories {
        flex: 1;
        background-color: green;
        overflow-y: auto;
        max-height: 100%;
        @include scrollbar.custom-scrollbar(colors.$primary, colors.$secondary, #ffe0e0);
    }

    .products {
        flex: 2;
        background-color: blue;
        overflow-y: auto;
        max-height: 100%;
        @include scrollbar.custom-scrollbar(colors.$primary, colors.$secondary, #ffe0e0);
    }

}
