@use "../scss/variables.scss";

$buybar-height: 5rem;

.product_List {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: calc($buybar-height + 1rem);
    // background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buybar {
    position: fixed;
    bottom: 0;
    width: calc(100% - variables.$drawer-width);
    height: $buybar-height;
    background-color: rgb(156, 27, 168);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}