@use "../scss/variables.scss";

$searchbar-height: 5rem;

.searchbar {
    position: fixed;
    top: variables.$topbar-height;
    width: 100%;
    height: $searchbar-height;
    background-color: lightblue;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.product_List {
    margin-top: calc($searchbar-height + 1rem);
    margin-left: 5rem;
    margin-right: 5rem;
    // background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
