.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .inner_container{
        width: 35rem;
        height: 90%;
        background-color: lightcoral;  
    }
}