@use "../../scss//variables.scss";

.root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  .topbar {
      position: fixed;
      top: 0;
      left: 0;
  }

  .drawer {
      position: fixed;
      left: 0;
      top: 0;
  }

  .content_container{
      position: absolute;
      top: variables.$topbar-height;
      left: variables.$drawer-width;
      right: 0;
      bottom: 0;
      overflow: auto;
      background-color: lightgray;
  }
}