@use "../../scss//variables.scss";

.root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  .topbar {
      position: fixed;
      top: 0;
      left: 0;
  }

  .drawer {
      position: fixed;
      left: 0;
      top: 0;
  }

  .content_container{
      position: absolute;
      width: calc(100vw - variables.$drawer-width);
      height: calc(100vh - variables.$topbar-height);
      top: variables.$topbar-height;
      left: variables.$drawer-width;
      right: 0;
      bottom: 0;
      overflow: auto;
      background-color: rgb(221, 215, 215);
  }
}