@use "../../scss/variables.scss";
@use "../../scss/colors.scss";

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: variables.$topbar-height;
    background-color: colors.$primary;
    color: #fff;

    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        justify-content: center;
        width: 15rem;
        background-color: colors.$secondary;
    }

    .right {
        display: flex;
        height: 100%;
        width: 20rem;
        justify-content: center;
        align-items: center; 
        background-color: colors.$primary;
        color: #fff;

        span {
            margin-right: 1rem;
        }

        // button {
        //     color: #888; // Leicht graue Farbe
        //     background-color: transparent; // Transparenter Hintergrund
        //     border: none; // Keine Rahmen
        //     padding: 0; // Kein Padding
        //     font-size: 16px; // Schriftgröße
        //     cursor: pointer; // Zeiger-Cursor
        //     margin-left: 4.5rem;
        // }
    }
}