@mixin custom-scrollbar($thumb-color, $thumb-hover, $track-color) {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 10px;
        transition: background 0.3s;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $thumb-hover;
    }

    &::-webkit-scrollbar-track {
        background: $track-color;
        border-radius: 10px;
    }
}
